/* Reglas
selectores : como identificamos un elemento html
declaraciones: todo lo que hacemos con ese selector
propiedades: cosas particulares que podemos hacer con esos elementos
valores: Son las cosas que esperán recibir como variables las propiedades para actuar de forma correcta
*/

/* Selector de etiqueta: header - section - article- nav */

/* Selector descendente: elemento hijo de algún otro elemento */

/* body header div nav ol li a  */

/* selector de clase . */

/* .link */

/* selector de id # */
/* #portafolio */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}

h2 {
  text-transform: uppercase;
  color: #026fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold; /*Poner en negritas*/
  font-size: 24px;
  margin-bottom: 40px;
}
/* 
  line-height: para modificar el alto de linea
  font-size: para modificar el tamaño de la fuente
  font-weight: para modificar el tipo de fuente
  font-style: para modificar el estilo de la fuente
  letter-spacing: para modificar el espacio entre letras
  text-transform: para transformar la fuente (mayusculas, minuculas, etc)
  text-decoration: para moodificar la decoración de la fuente 
*/

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  margin: 0;
}

/* 
  background-color: para agregar unn color de fondo
  color para agregar un color al texto
  text-decoration: para modificar la decoración del texto
  background-image: para agregar una imagen de fondo
  background-size: para modificar el tamaño del background asignado
  background-repeat: para modificar la repetición del backgound asignado
  background-position: para modificar la posición del bakground asignado 
*/

.hero {
  height: 300px;
  background-image: url('../images/hero.jpg');
  background-color: #1b2127;
  /* background-size:  width heigth */
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
  color: white;
  display: flex;
  align-items: center;
}

.portfolio {
  background: #fafafa;
  padding: 20px; 
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-course,
.project-date,
.project-url
 {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

/* .project-date {
  margin: 10px 0;
} */

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-datails {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}

.header {
  background-color: #1d252c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  color: white;
  text-decoration: none;
  padding: 0 20px;
}


ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  width: 80px;
  vertical-align: middle;
}

.footer a {
  color: white;
}
