/* Reglas
selectores : como identificamos un elemento html
declaraciones: todo lo que hacemos con ese selector
propiedades: cosas particulares que podemos hacer con esos elementos
valores: Son las cosas que esperán recibir como variables las propiedades para actuar de forma correcta
*/

/* Selector de etiqueta: header - section - article- nav */

/* Selector descendente: elemento hijo de algún otro elemento */

/* body header div nav ol li a  */

/* selector de clase . */

/* .link */

/* selector de id # */
/* #portafolio */
body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}

/* 
  line-height: para modificar el alto de linea
  font-size: para modificar el tamaño de la fuente
  font-weight: para modificar el tipo de fuente
  font-style: para modificar el estilo de la fuente
  letter-spacing: para modificar el espacio entre letras
  text-transform: para transformar la fuente (mayusculas, minuculas, etc)
  text-decoration: para moodificar la decoración de la fuente 
*/

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
}
